* {
	box-sizing: border-box;
	margin:0;
}

header {
	background-color: #0000FF;
	padding: 2em 3em 2em 3em;	
	font-family: arial;
}

body {
	background-color: #C0C0C0;
}

main {
	padding: 2em 1em 2em 1em;
	background-color:purple;
	margin: 2em 2em 2em 2em;
	border-radius: 1em;
}

h3 {
	margin: 0 .7em 1em .7em;
}

label {
	display: block;
	margin-bottom: 1.1em;
	font-family: arial;
	font-size: 1.2em;
}

input {
	background-color: grey;
	border:none;
	border-radius: .2em;
	height:2.4em;
	width:10em;
	font-size: .9em;
	margin: 1em 0 0 1em;
}

section {
	display: flex;

}

header h1 {
	color:white;
	text-align: center;
	font-size: 4em;
	margin-bottom: .3em;
}

header p {
	color:black;
	line-height: 1.7em;
	text-align:justify;
	font-size: 1.1em;
}

.sections {
	margin: 1em .8em 1em 1em;

}

.course {
	margin: 2em 0em 2em 2.6em;
}

.labels {
	text-align: center;
}

.button {
	text-align: center;
}

.submit {
	width: 12em;
	height: 3.6em;
	border-radius: 1em;
	background-color: #66ccff;
	font-size:1.2em;
}


