* {
	box-sizing: border-box;
	margin:0;
}

header {
	background-color: #0000FF;
	padding: 2em 3em 2em 3em;	
	font-family: arial;
}

body {
	background-color: #C0C0C0;
}

main {
	padding: 2em 1em 2em 1em;
	background-color:purple;
	border-radius: 1em;
	font-family: arial;
	width: 60em;
	margin: 0 auto;
}

h3 {
	margin: 0 auto;
	font-size: 1.2em;
}

label {
	display: block;
	margin-bottom: 1.1em;
	font-family: arial;
	font-size: 1.2em;
}

input {
	background-color: grey;
	border:none;
	border-radius: .2em;
	height:2.4em;
	width:8.9em;
	font-size: 1em;
}

header h1 {
	color:white;
	text-align: center;
	font-size: 4em;
	margin-bottom: .3em;
}

header p {
	color:black;
	line-height: 1.7em;
	text-align:justify;
	font-size: 1.3em;
}

table, td {
  border: 1px solid black;
}

/*.sections {
	margin: 0em 0em 0em 1em;

}*/

.main-content {
	text-align: center;
	margin: 0em 0em 0em .3em;

}

.course {
	margin: 2em 0em 2em 2.6em;
}

.button {
	text-align: center;
}

.labels {
	display: flex;
}

.add,
.remove,
.submit {
	width: 12em;
	height: 3.6em;
	border-radius: 1em;
	background-color: #66ccff;
	font-size:1.2em;
	margin: 1em 2em .3em 0em;
}

.assignmentName,
.percentage,
.marks,
.outOf {
	margin: 1em 3em 1em 2.3em;
}
